<h4>{{recipe.name}}</h4>
<span class="p-buttonset">
    <p-button label="To Shopping List" icon="pi pi-plus" styleClass="p-button-sm p-button-help"></p-button>
    <p-button label="Edit" icon="pi pi-pencil" styleClass="p-button-sm p-button-info"></p-button>
    <p-button label="Delete" icon="pi pi-times" styleClass="p-button-sm p-button-danger"></p-button>
</span>
<p>{{recipe.description}}</p>
<p>Ingredients</p>
<ul class="list-group" *ngFor="let ingredient of recipe.ingredients">
    <li class="list-group-item">{{ingredient.name}} ({{ingredient.amount}})</li>
</ul>
