<h4>{{recipe.name}}</h4>
<span class="p-buttonset">
    <p-button label="To Shopping List" icon="pi pi-plus" styleClass="p-button-sm p-button-help" (onClick)="onAddToShoppingList()"></p-button>
    <p-button label="Edit" icon="pi pi-pencil" styleClass="p-button-sm p-button-info" (onClick)="onEditRecipe()"></p-button>
    <p-button label="Delete" icon="pi pi-times" styleClass="p-button-sm p-button-danger"></p-button>
</span>
<p>{{recipe.description}}</p>
<h5>Ingredients</h5>
<div class="row">
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}}
                <span class="badge bg-primary rounded-pill">{{ingredient.amount}}</span>
            </li>
        </ul>
    </div>
</div>
