<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Recipe Name" formControlName="name">
    </div>
    <div class="mb-3">
        <label for="image_path" class="form-label">Image Path</label>
        <input type="text" class="form-control" id="image_path" placeholder="Recipe Image" formControlName="imagePath">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" placeholder="Recipe Description" formControlName="description"></textarea>
    </div>
    <button class="btn btn-dark mb-2 w-100" type="button" (click)="onAddIngredient()">Add Ingredient</button>
    <div formArrayName="ingredients">
        <div *ngFor="let ingCntl of controls; let i = index" [formGroupName]="i">
            <div class="mb-3 d-flex">
                <input type="text" class="form-control" formControlName="name">
                <input type="number" class="form-control mx-2" formControlName="amount">
                <p-button icon="pi pi-times" styleClass="p-button-sm p-button-danger" type="button" (onClick)="onClearIngredients(i)"></p-button>
            </div>
        </div>
    </div>
    <span class="p-buttonset">
        <p-button label="Submit" icon="pi pi-plus" type="submit" [disabled]="!recipeForm.valid" styleClass="p-button-sm p-button-success"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-sm p-button-danger" type="button" (onClick)="onCancel()"></p-button>
    </span>
</form>