<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="d-flex py-3">
    <input type="text" class="form-control me-3" placeholder="Enter Name" name="name" ngModel required>
    <input type="number" class="form-control" placeholder="Enter Amount" name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
</div>

<span class="p-buttonset">
    <p-button [label]="editMode ? 'Update' : 'Save'" type="submit" icon="pi pi-check" styleClass="p-button-sm p-button-success" [disabled]="!f.valid"></p-button>
    <p-button label="Delete" icon="pi pi-trash" styleClass="p-button-sm p-button-danger" *ngIf="editMode" (onClick)="onDelete()"></p-button>
    <p-button label="Clear" icon="pi pi-times" styleClass="p-button-sm p-button-help" (onClick)="onClear()"></p-button>
</span>
</form>
