<div class="row justify-content-center">
    <div class="col-8">
        <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <div class="row">
            <div class="col-5">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let ingredient of ingredients;let i=index" (click)="passIndex(i)">
                        {{ingredient.name}}
                        <span class="badge bg-primary rounded-pill">{{ingredient.amount}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>